/* .container{
    position: absolute;
    top: 20px;
    left: 400px;
    right: auto;
    width: auto;
    height: 140px;
}
.white-text{
color : white;
} */

.outerbox{
    width: 700px;
    height: 500px;
    border: 10px solid green;
    padding: 25px;
    margin: 25px;
}